.file {
  width: 500px;
  height: 300px;
  line-height:280px;
  text-align:center;
  border:2px dashed #e9ecef;
  position:relative;
  font-size: 20px;
  color: #5a5a5a;

  .removeFileIcon {
    cursor: pointer;
  }
  &:not(.dragDisabled) {
    &.dragFlag {
      border-color:#4099ff;
    }
    &:hover {
      border-color:#4099ff;
      cursor:pointer;
    }
  }



  .fileError {
    color: red;
  }

}